body {
  background-color: black;
  color: white;
}
.borderless td, .borderless th, .borderless tr, .borderless table {
  border: none;
}

.test-group {
  cursor: pointer;
  margin: 3px;
}

.mark:hover {
  background-color: gray;
}
