body {
  background-color: black;
  color: white;
}

.borderless td, .borderless th, .borderless tr, .borderless table {
  border: none;
}

.test-group {
  cursor: pointer;
  margin: 3px;
}

.mark:hover {
  background-color: gray;
}

.report-row {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.report-row:hover {
  background: rgb(24, 28, 86);
  cursor: pointer;
}

.report-search-count {
  color: #5ac39a;
}

.report-date {
  font-size: smaller;
  font-weight: bold;
}

.modal-background {
  all: revert;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.6);
  z-index: 2;
}

.modal-front {
  background-color: #232323;
  border: 1px solid;
  border-color: #424040;
  border-radius: 10px;
  width: 70%;
  height: 70%;
  margin: auto;
  margin-top: 3%;
  padding: 1%;
  z-index: 3;
}
